.section-column {
     float: left;
     width: 30%;
}

.flex-menu {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 750px;
    height: 70px;
    
}
.flex-item {
    width: 40%;
    height: 90%px;
   
}