.section-column {
    float: left;
    width: 30%;
}

.flex-menu {
    -webkit-justify-content: space-around;
    justify-content: space-around;
    width: 750px;
    height: 70px;
}

.flex-item {
    width: 40%;
}

.foto {
    width: 380px;
    height: auto;
    margin-top: 30px;
}

.foto:hover {
    width: 150%;
    height: auto
}