body {
    background-image: url(../img/background.jpg);
    max-width: 1500px;
    margin: 0 auto;
}

header {}

nav {}

.flex-menu {
    display: -webkit-flex;
    display: flex;
 
}
.flex-item {
    background-color: #ED5526;
    margin: 1.5%;
    border-radius: 20px;
    text-align: center;
}





a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}






a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    background-color: #CCE34B;
}
a:visited {
    background-color: #1CED62;
}

section {
    margin: 0 1.5%;
    padding: 10px;
}

footer {
    clear: left;
}

img.pan {
    width: 100%;
    margin: auto;
}
img.icon {
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    opacity: 0.7;
}
img.icon:hover {
    width: 140px;
    height: 140px;
    opacity: 1.0;
}

h1 {
    font-family: "Poiret One", Times, serif;
    color: #B2570D;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: Underdog, Times, serif;
    text-align: justify;
    color: #573519;
}
p::first-letter {
    color: #E64B93;
}


/*  font-family: 'Marck Script', cursive;
        font-family: 'Neucha', cursive;
        font-family: 'Poiret One', cursive;
        font-family: 'Pattaya', sans-serif;
        font-family: 'Underdog', cursive; */
